@keyframes bobbingY{
	0%{
		transform: translateY(0, 0);
	}

	15%{
		transform: translateY(0.5rem);
	}

	30%{
		transform: translateY(0, 0);
	}

}


@keyframes bobbingxY{
	0%{
		transform: translate(0, 0);
	}

	15%{
		transform: translate(0.25rem ,0.5rem);
	}

	30%{
		transform: translate(0, 0);
	}

}


@keyframes bobbing-xY{
	0%{
		transform: translate(0, 0);
	}

	15%{
		transform: translate(-0.25rem ,0.5rem);
	}

	30%{
		transform: translate(0, 0);
	}

}


@keyframes bobbingX{
	0%{
		transform: translate(0, 0);
	}

	15%{
		transform: translate(0.5rem);
	}

	30%{
		transform: translate(0, 0);
	}
}

@keyframes bobbingXy{
	0%{
		transform: translate(0, 0);
	}

	15%{
		transform: translate(0.5rem, 0.25rem);
	}

	30%{
		transform: translate(0, 0);
	}
}

@keyframes bobbingX-y{
	0%{
		transform: translate(0, 0);
	}

	15%{
		transform: translate(0.5rem, -0.25rem);
	}

	30%{
		transform: translate(0, 0);
	}
}


.item img{
	animation-name: bobbing-Y;
	animation-duration: 15s; 
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(0, 0.1, 0.24, 0.99);
	animation-delay: 2s;
}