@keyframes bobbing1{
	0%{
		transform: translateY(0, 0);
	}

	15%{
		transform: translateY(2.5rem);
	}

	30%{
		transform: translateY(0, 0);
	}

}


@keyframes bobbing2{
	0%{
		transform: translate(0, 0);
	}

	15%{
		transform: translate(0.25rem, 2.5rem);
	}

	30%{
		transform: translate(0, 0);
	}

}


@keyframes bobbing3{
	0%{
		transform: translate(0, 0);
	}

	15%{
		transform: translate(-0.25rem, 2.5rem);
	}

	30%{
		transform: translate(0, 0);
	}

}

.item img{
	animation-iteration-count: infinite;
}
